<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

**NOTE**: For the learners who are encountering issues with loading from .csv in DB2 on Firefox, you can download the .txt files and load the data with those:

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.txt" target="_blank">Chicago Census Data</a>
    
- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.txt" target="_blank">Chicago Public Schools</a>
  
- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.txt" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

### IMPORTANT STEPS:
1. Log into IBM database to get credentials.
2. Copy credentials onto a file named __` credentials.txt `__ into IBM database, and make the file into the Jupyter Notebook directory.

In [2]:
import json

# Specify the file path
file_path = "credentials.txt"

# Read the content of the file
with open(file_path, 'r') as file:
    data_as_str = file.read()

# Parse the content as JSON
try:
    dict_data = json.loads(data_as_str)
except json.JSONDecodeError as e:
    print(f"Error decoding JSON: {e}")

# Access specific values
a=dict_data["connection"]["db2"]["authentication"]

#Replace the placeholder values with your actual Db2 hostname, username, and password:
hostname = dict_data["connection"]["db2"]["hosts"][0]["hostname"]
username = dict_data["connection"]["db2"]["authentication"]["username"].upper()
password = dict_data["connection"]["db2"]["authentication"]["password"]

database_name = dict_data["connection"]["db2"]["database"]
port = dict_data["connection"]["db2"]["hosts"][0]["port"]
security = dict_data["connection"]["cli"]["arguments"][0][4][2:]
cred = f"{username}:{password}@{hostname}:{port}/{database_name}?security={security}"

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://$cred

In [ ]:
db2_engine = create_engine(db2_connection_str)

In [7]:
import pandas as pd
chicago_census_data=pd.read_csv('https://data.cityofchicago.org/resource/kn9c-c2s2.csv')
chicago_census_data.head()

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [9]:
chicago_public_schools=pd.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
chicago_public_schools.head()

,school_id,name_of_school,elementary_or_high_school,street_address,city,state,zip_code,phone_number,link_,network_manager,...,rcdts_code,x_coordinate,y_coordinate,latitude,longitude,community_area_number,community_area_name,ward,police_district,location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,150000000000000,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,150000000000000,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,150000000000000,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [8]:
chicago_crime_data=pd.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
chicago_crime_data.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,13315407,JG550049,2023-12-21T00:00:00.000,064XX N SEELEY AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,True,...,50,2,26,1161462.0,1942810.0,2023,2023-12-28T15:42:00.000,41.998752,-87.681384,"\n, \n(41.998752468, -87.681384025)"
1,13317642,JG553045,2023-12-21T00:00:00.000,015XX N HAMLIN AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,26,23,06,1150760.0,1909876.0,2023,2023-12-28T15:42:00.000,41.908596,-87.721618,"\n, \n(41.908595995, -87.721618398)"
2,13314744,JG549370,2023-12-21T00:00:00.000,024XX W CORTLAND ST,0560,ASSAULT,SIMPLE,STREET,False,False,...,1,22,08A,1159783.0,1912550.0,2023,2023-12-28T15:42:00.000,41.915752,-87.688398,"\n, \n(41.915752295, -87.688398328)"
3,13314843,JG549482,2023-12-21T00:00:00.000,093XX S LOWE AVE,0560,ASSAULT,SIMPLE,SCHOOL - PUBLIC GROUNDS,False,False,...,9,73,08A,1173616.0,1842860.0,2023,2023-12-28T15:42:00.000,41.724220,-87.639644,"\n, \n(41.724219791, -87.639644296)"
4,13314662,JG549269,2023-12-21T00:00:00.000,067XX N HIAWATHA AVE,0810,THEFT,OVER $500,STREET,False,False,...,45,12,06,1137231.0,1944324.0,2023,2023-12-28T15:42:00.000,42.003379,-87.770487,"\n, \n(42.003378648, -87.77048691)"

##### 
#### Add tables to your DB2 database using _`%sql --persist data_frame`_, or follow the method above for better data-type analogy
#####

In [11]:
try:
    %sql --persist chicago_crime_data
    print('table added')
except:
    print('table already exists')

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl

'Persisted chicago_crime_data'

In [14]:
try:
    %sql --persist chicago_public_schools
    print('table added')
except:
    print('table already exists')

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
table already exists

In [15]:
try:
    %sql --persist chicago_census_data
    print('table added')
except:
    print('table already exists')

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [17]:
%sql select count(*) from chicago_crime_data;

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
Done.

[(1000,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [32]:
%sql select ca,community_area_name,per_capita_income_ from chicago_census_data where per_capita_income_<11000;

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [33]:
%sql select id,case_number,description from chicago_crime_data where description like '%MINOR%'

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
Done.

[(13315281, 'JG549959', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314416, 'JG548963', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314373, 'JG548917', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314380, 'JG548903', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13314105, 'JG548432', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313650, 'JG548028', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313702, 'JG548074', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313446, 'JG547745', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313320, 'JG547652', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY'),
 (13313310, 'JG547597', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [34]:
%sql select id,case_number,primary_type, description from chicago_crime_data \
where description like '%CHILD%'

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
Done.

[(13315124, 'JG548674', 'OFFENSE INVOLVING CHILDREN', 'ENDANGERING LIFE / HEALTH OF CHILD'),
 (13314999, 'JG549527', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE'),
 (13314984, 'JG549735', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE'),
 (13321073, 'JG556505', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE'),
 (13315015, 'JG549581', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [35]:
%sql select id,case_number,primary_type,description,location_description\
from chicago_crime_data where location_description like '%SCHOOL%';

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
Done.

[(13314843, 'JG549482', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13314999, 'JG549527', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE', 'SCHOOL - PUBLIC GROUNDS'),
 (13315216, 'JG549072', 'THEFT', 'FROM BUILDING', 'SCHOOL - PUBLIC BUILDING'),
 (13314545, 'JG549150', 'PUBLIC PEACE VIOLATION', 'OTHER VIOLATION', 'SCHOOL - PUBLIC GROUNDS'),
 (13314870, 'JG549192', 'OTHER OFFENSE', 'TELEPHONE THREAT', 'SCHOOL - PUBLIC BUILDING'),
 (13314039, 'JG548431', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 (13314106, 'JG548436', 'ASSAULT', 'AGGRAVATED - HANDGUN', 'SCHOOL - PRIVATE GROUNDS'),
 (13314128, 'JG548573', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 (13314594, 'JG548375', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 (13315119, 'JG549770', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13313844, 'JG548196', 'PUBLIC PEACE VIOLATION', 'OTHER VIOLATION', 'SCHOOL - PUBLIC GROUNDS'),
 (13313879, 'JG548337', 'ASSAULT', 'SIMPLE', 'SCHOOL - PRIVATE BUILDING'),
 (13314352, 'JG548938', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13313737, 'JG548165', 'THEFT', 'OVER $500', 'SCHOOL - PUBLIC BUILDING'),
 (13313668, 'JG548061', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 (13313702, 'JG548074', 'ASSAULT', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PUBLIC BUILDING'),
 (13313843, 'JG548047', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING'),
 (13313647, 'JG548099', 'MOTOR VEHICLE THEFT', 'ATTEMPT - AUTOMOBILE', 'SCHOOL - PUBLIC GROUNDS'),
 (13314032, 'JG548574', 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL - PRIVATE GROUNDS'),
 (13313762, 'JG548183', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13314884, 'JG549584', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13313159, 'JG547556', 'THEFT', '$500 AND UNDER', 'SCHOOL - PUBLIC GROUNDS'),
 (13312935, 'JG547208', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13313788, 'JG547115', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13313779, 'JG548091', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'SCHOOL - PUBLIC GROUNDS'),
 (13313466, 'JG547144', 'OTHER OFFENSE', 'OTHER CRIME AGAINST PERSON', 'SCHOOL - PUBLIC GROUNDS'),
 (13313125, 'JG547409', 'THEFT', 'FROM BUILDING', 'SCHOOL - PUBLIC BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [36]:
%%sql
select elementary_or_high_school,
avg(safety_score) as avg_per_school_type,
( select avg(safety_score) from chicago_public_schools) as overall_avg
from chicago_public_schools
group by elementary_or_high_school;

 * ibm_db_sa://DLV46630:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=ssl
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "ELEMENTARY_OR_HIGH_SCHOOL" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: select elementary_or_high_school,
avg(safety_score) as avg_per_school_type,
( select avg(safety_score) from chicago_public_schools) as overall_avg
from chicago_public_schools
group by elementary_or_high_school;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Problem 7

##### List 5 community areas with highest % of households below poverty line

### Problem 8

##### Which community area is most crime prone?

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by    | Change Description                 |
| ---------- | ------- | ------------- | ---------------------------------- |
| 2021-11-17  | 2.6  | Lakshmi  | Updated library  |
| 2021-05-19 | 2.4     | Lakshmi Holla | Updated the question   |
| 2021-04-30 | 2.3     | Malika Singla | Updated the libraries   |
| 2021-01-15 | 2.2     | Rav Ahuja | Removed problem 11 and fixed changelog |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets |
| 2020-09-05 | 2.0     | Malika Singla | Moved lab to course repo in GitLab |
| 2018-07-18 | 1.0     | Rav Ahuja | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan | Created initial version |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>